main {
  width: 100%;
  padding: 50px 0;
  margin: 0;
  flex-grow: 1;
}

.wrapper {
  width: 100%;
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  width: 95%;
}

.gallery__link {
  text-align: center;
  font-weight: 800;
  padding-top: 1rem;
  color: #000;
}

.gallery__link > a {
  font-size: 2rem;
}

.services__list {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  hyphens: manual;
  font-size: 1.3rem;
}

.services__list h2 {
  padding-top: 50px;
}

.services__item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: stretch;
  width: 100%;
}

.services__item li {
  background-color: #f2f2f2;
  display: block;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0.1rem;
}
